.transactions {
  width: 700px;
  border-radius: 5px;
  padding-bottom: 20px;
}

.transaction-history {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 1px 1px 5px 1px rgb(8 8 8);
  color: grey;
  text-align: center;
}

.table-header {
  background-color: #06cee9;
  color: white;
}

.transaction-history tr {
  height: 40px;
}

.transaction-history tbody tr:nth-child(even) {
  background-color: #ebeff1;
}

.transaction-history th:not(:last-child) {
  border-right: 1px solid #ffffff;
}

.transaction-history td:not(:last-child) {
  border-right: 1px solid #faf4f4;
}
